<!DOCTYPE html>
<html>
<head>
	<title>Alex Karadimos - Home</title>
	
	<meta charset="UTF-8">
  <meta name="description" content="My Personal Website, Alex Karadimos">
  <meta name="keywords" content="Alex Karadimos, Alexios, Personal Website, Portfolio, Curriculum Vitae, CV, About, Press, Blog, Contact">
  <meta name="author" content="Alex Karadimos">
  <meta name="viewport" content="initial-scale=1">
	
  <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <script src="/scripts/main.js"></script>
</head>


<body>
	<div id="ham-menu">
		<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
	</div>
	<div id="side-nav-bar">
		<div id="hide-menu">
			<i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
		</div>
		<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/portfolio">Portfolio</a></li>
				<li><a href="/cv">Curriculum Vitae</a></li>
				<li><a href="/archive">Archive</a></li>
				<li><a href="/press">Press</a></li>
			</ul>
	</div>
	
	<div class="background-image">
		<div class="container">
			<header>
				<h1>
					Home
				</h1>
			</header>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-xs-12 col-md-10">
				<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel est id tortor malesuada ornare in non enim. Aenean posuere, sapien ut malesuada tincidunt, mi purus rutrum quam, ut tempor quam lorem quis mauris. Donec ut bibendum metus. Aenean non nulla quis ligula imperdiet gravida. Nam eget lorem nec lectus lobortis eleifend non ac lacus. Donec maximus libero vitae sem porttitor, ornare feugiat odio consectetur. Ut pharetra tempor ipsum ut dapibus. Sed egestas tempor ornare. Donec sit amet nulla at nunc interdum iaculis non in leo. Aliquam erat volutpat. Ut sed lacus aliquam, iaculis est ut, tincidunt nibh. Praesent accumsan in velit vitae rhoncus. Aliquam mi tellus, ornare nec massa ac, tempus malesuada ex. Praesent augue libero, pulvinar non odio ac, tempus consequat est. Proin quis lacus sem. Quisque ipsum urna, tincidunt et tristique non, mattis vel ex.
		</p>
		<p>
			Maecenas consequat nisl eget massa maximus molestie. Fusce id justo mauris. Maecenas rutrum at diam vel pretium. Aliquam at aliquet purus. Sed suscipit eget leo a viverra. Suspendisse potenti. Duis dolor massa, tempus ut bibendum vel, condimentum non felis. Pellentesque congue lectus sed nulla luctus faucibus. Phasellus eu scelerisque orci. Nunc tincidunt placerat tortor, rhoncus sagittis orci fermentum nec.
		</p>
		<p>
			Nulla mi purus, volutpat non dolor ut, tincidunt luctus urna. Curabitur ullamcorper diam at erat cursus, nec congue libero blandit. Cras semper eget eros in malesuada. Ut est orci, consectetur eget mauris sed, elementum consectetur quam. Nunc placerat, eros efficitur faucibus ultricies, quam nulla venenatis mauris, sed scelerisque erat orci ac metus. Sed odio erat, ultrices id orci non, aliquam efficitur diam. Pellentesque eleifend auctor porta.
		</p>
		<p>
			Donec in feugiat dui. Duis erat ante, volutpat in pulvinar in, blandit et tortor. Morbi fringilla ultrices augue. Suspendisse rhoncus sollicitudin consequat. Integer vitae pharetra felis. Mauris bibendum vestibulum ultrices. Praesent non nulla suscipit tellus mattis porttitor. Ut nec mattis mi. Etiam nisi ligula, fringilla eget libero nec, tincidunt imperdiet massa. Nunc porta eleifend mauris. Nulla dignissim efficitur magna in volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		<p>
			Ut vel feugiat est. Curabitur ultrices elit sit amet nisi cursus fringilla. Ut ut nisi risus. Duis egestas suscipit faucibus. Donec volutpat velit in tellus tempus elementum. Nunc mollis, dolor vitae semper faucibus, tellus tellus sodales ex, vel congue nibh nisl nec odio. Integer interdum sodales elit, non accumsan ligula tincidunt quis. Nunc in leo lacinia, viverra ligula non, pretium nibh. Aliquam tempus et ex vel consectetur. Etiam nulla neque, iaculis quis sapien at, suscipit lobortis nisi. Maecenas pellentesque ipsum rutrum odio fringilla, a scelerisque arcu euismod. Nullam vestibulum dolor quis lacus fringilla, a euismod nulla semper. Nam in neque rutrum, aliquet odio sit amet, consectetur turpis. In euismod interdum consectetur.
		</p>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
	
  <div class="container">
      <footer>
        <hr>
        Alex Karadimos
      </footer>
  </div>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>	
	<script src="/scripts/jquery-scripts.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
