<!DOCTYPE html>
<html>
<head>
	<title>Alex Karadimos - Portfolio</title>
  <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <script src="/scripts/main.js"></script>
</head>


<body>
	<div id="ham-menu">
		<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
	</div>
	<div id="side-nav-bar">
		<div id="hide-menu">
			<i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
		</div>
		<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/portfolio">Portfolio</a></li>
				<li><a href="/cv">Curriculum Vitae</a></li>
				<li><a href="/archive">Archive</a></li>
				<li><a href="/press">Press</a></li>
			</ul>
	</div>
	
	<div class="container">
		<header>
			<h1>
				Portfolio
			</h1>
		</header>
	</div>
	
	<div class="container">
		<p>
			Lorem ipsum
		</p>
	</div>
	
  <div class="container">
      <footer>
        <hr>
        Alex Karadimos
      </footer>
  </div>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>	
	<script src="/scripts/jquery-scripts.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
