div#ham-menu
  i(class='fa fa-bars fa-2x', aria-hidden='true')

div#side-nav-bar
  div#hide-menu
    i(class="fa fa-arrow-right fa-2x", aria-hidden="true")
  
  ul
    li
      a(href='/home') Home
    li
      a(href='/about') About
    li
      a(href='/contact') Contact
    li
      a(href='/blog') Blog
    li
      a(href='/portfolio') Portfolio
    li
      a(href='/cv') Curriculum Vitae
    li
      a(href='/archive') Archive
    li
      a(href='/press') Press
      
      
div(style='background-image: url(../media/img/#{image})').header-image
  div.container
    header
      h1(class=classList) #{title}

div.shadow
  
  
