@font-face {
  font-family: 'Monsieur La Doulaise';
  font-style: normal;
  font-weight: 100;
  src: url(fonts/MonsieurLaDoulaise-Regular.ttf);
}

@font-face {
  font-family: 'Lato Hairline';
  font-style: normal;
  font-weight: 100;
  src: url(fonts/Lato-Hairline.ttf);
}

@font-face {
  font-family: 'Lato Hairline Italic';
  font-style: normal;
  font-weight: 100;
  src: url(fonts/Lato-HairlineItalic.ttf);
}

@font-face {
  font-family: 'Lato Light';
  font-style: normal;
  font-weight: 10;
  src: url(fonts/Lato-Light.ttf);
}

html {
  width: 100%;
  height: 100%;
}

body {
	background-color: #12110D;
	color: #F3E2B3;
}

h1 {
  font-family: 'Lato Hairline Italic';
  font-size: 100px;
  text-align: center;
  color: #D7B75E;
  
  margin-top: 50px;
  margin-bottom: 100px;
}

p {
  font-family: 'Lato Light';
  color: #F3E2B3;
  font-size: 22px;
}

a, a:hover {
  text-decoration: none;
  font-family: 'Lato Light';
  font-size: 30px;
}

.nav li a:focus, .nav li a:hover {
  background-color: RGBA(92, 84, 56, 0.25);
}

nav ul li h2 {
  font-family: 'Lato Hairline Italic';
  text-align: center;
  color: #F3E2B3;
}

#ham-menu {
  position: fixed;
  top: 20px;
  right: 20px;
}

#side-nav-bar {
  display: none;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 45%;
  background-color: #D7B75E;
  color: #12110D;
  z-index: 100;
}

#side-nav-bar a {
  color: #12110D;
}

#side-nav-bar ul {
  list-style-type: none;
  margin-top: 80px;
  padding-left: 0px;
  width: 100%;
  text-align: center;
}

#side-nav-bar ul li {
  padding-top: 10px;
  padding-bottom: 10px;
}

#side-nav-bar ul li:hover {
  background-color: RGBA(92, 84, 56, 0.5);
}

#hide-menu {
  position: fixed;
  top: 20px;
  right: 20px;
}

div#AlexKaradimos {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 100px;
  text-align: center;
  color: #D7B75E;
  margin: 10rem;
}

div.background-image {
  background-image: url(../media/img/sea.jpeg);
  background-size: 100% 45rem;
  background-repeat: no-repeat;
  height: 35rem;
  margin-bottom: 6rem;
}

hr {
	color: #F3E2B3; 
  height: 1px;
}

footer {
  font-family: 'Lato Hairline';
  font-size: 20px;
  position: relative;
  margin-top: 10rem;
  bottom: 18px;
}



@media only screen and (max-width: 400px) { 
  div#AlexKaradimos {
    font-size: 80px;
    margin: 1rem;
  }
  
  #side-nav-bar {
    width: 60%;
  }
  
  #side-nav-bar ul li {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  #side-nav-bar ul li a {
    font-size: 22px;
  }
}